.idea
*.csv
**/*.csv
**/*.txt
*.txt
*.ipynb
logs/
*.mp4
*.h5
*.log
*_merge_data.py
*.eps
logger/
*.svg
*.pdf
*.xdp*
Evaluation
*.json
results_plot/
results/
power_consumption/
res_plots/
merged_dataset.pkl
junky
